<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="{{ shop.locale }}">
<!--<![endif]-->

<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
  
  

  {{ 'boostrap.min.css' | asset_url | stylesheet_tag }}
  {{ 'application.css.scss' | asset_url | stylesheet_tag }}
 


  {{ content_for_header }}

</head>



{% section 'header' %}

<div class="page-container" id="PageContainer">

  <main class="main-content {% if template == " cart" %}main-content--cart{% endif %}" id="MainContent" role="main">

    {{ content_for_layout }}

  </main>

  {% section 'footer' %}

</div>



</body>

</html>