<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">



<!-- 
  {%- if canonical_url != blank -%}
  <link rel="canonical" href="{{ canonical_url }}">
  {%- endif -%} -->


  {{ content_for_header }}

  <link rel="preload" href="{{ 'bootstrap.min.css' | asset_url }}" as="style">
  <link rel="preload" href="{{ 'application.css.scss' | asset_url }}" as="style">


</head>

<body>

  <main role="main">

    {{ content_for_layout }}

  </main>


  <link rel="preload" href="{{ 'bootstrap.min.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'application.js' | asset_url }}" as="script">


</body>

</html>