<div class="container">
    <div class="row my-5">
        <h2 class="text-center">{{ page.title }}</h2>
    </div>


    <div class="accordion accordion-flush" id="accordionFAQ">

        {%- for block in section.blocks -%}

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading-{{ block.id }}">
                    <button aria-controls="flush-collapseOne" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#flush-collapse-{{ block.id }}" data-bs-toggle="collapse" type="button">
                        {{ block.settings.title }}
                    </button>
                </h2>
                <div aria-labelledby="flush-heading-{{ block.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ" id="flush-collapse-{{ block.id }}">
                    <div class="accordion-body">

                        {{ block.settings.answer }}

                    </div>
                </div>
            </div>

        {%- endfor -%}


    </div>
</div>


{% schema %}
{
   "name": "FAQ",
   "blocks":[
        {
           "name": "FAQ Items",
           "type": "faq",
           "settings": [
                {
                   "type": "text",
                   "id": "title",
                   "label": "Title",
                   "default": "FAQ Title Example"
                },
                {
                    "type": "richtext",
                    "id": "answer",
                    "label": "Answer"
                }
           ]
        }
   ]
}
{% endschema %}